body {
  background: #f0f0f0;
}
.box {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 50px;
  background: #fff;
}
.box .icon {
  display: block;
  width: 150px;
  height: 150px;
  background: url('../images/demo.png') center center no-repeat;
  transition: 0.5s;
}

.box--1 .icon {
  transform: rotate(90deg);
}
.box--2 .icon {
  transform: rotate(180deg);
}
.box--3 .icon {
  transform: rotate(270deg);
}
